body {
  margin: 0;
  font-family: "Smythe", cursive;
  background-color: #f0f0f0;
}

.container {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

.opacity {
    opacity: 0.4;
}

/* Top Section ----------------*/

.top-section {
    position: relative;
    font-size: 20px;
}

.restaurant-name {
    position: absolute;
    color: #ffffff;
    left: 25px;
    text-shadow: 0px 0px 4px #ffffff;
}

.restaurant-description {
    position: absolute;
    top: 65px;
    left: 25px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000000;
}

.header-img {
  width: 100%;
  height: 167px;
  object-fit: cover;
}

/* Menu Section ----------------*/

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 40px;
}

.item {
  display: flex;
}

.emoji {
  font-size: 80px;
  display: flex;
  justify-content: flex-start;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

.item-name {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
}

.ingredients {
  letter-spacing: 1px;
  font-size: 20px;
}

.price {
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: bold;
}

.plus-circle {
  display: flex;
  flex-direction: flex-start;
  width: 10%;
}

.plus-circle:hover {
    transform: translateY(3px);
    cursor: pointer;
}

/* Order Section ----------------*/

.order-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.order-title {
  font-size: 30px;
  text-align: center;
}

.order-item-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 20px;
}

.order-item {
  display: flex;
}

.order-name {
  margin-right: 10px;
  font-size: 30px;
}

.order-price {
  font-size: 25px;
}

.remove-btn {
  display: flex;
  align-items: center;
  color: rgba(73, 65, 65, 0.432);
  letter-spacing: 1px;
  font-weight: bold;
}

.remove-btn:hover {
    transform: translateY(3px);
    cursor: pointer;
    color: red;
}

/* Total Price Section ----------------*/

.total-price-section {
  display: flex;
  width: 90%;
  justify-content: space-between;
  border-top: 2px solid #070d0d;
  padding-top: 20px;
  margin: 0 auto;
}

.total-price-title {
  font-size: 30px;
}

.total-price-amount {
  font-size: 25px;
}

/* Complete Order Button ----------------*/

.complete-order-btn {
  width: 90%;
  height: 60px;
  margin: 40px 30px;
  background: #16db99;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.complete-order-btn:hover {
    transform: translateY(3px);
    cursor: pointer;
    background: #45a478;
}

/* CSS Class to hide elements ----------------*/

.hidden {
  display: none;
}

/* Credit Card Details Modal ----------------*/

.complete-order-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #ffffff;
  top: 30%;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.complete-order-information {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 70%;
}

.enter-card-details {
  font-size: 30px;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.pay-btn {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  background: #16db99;
  border: none;
  margin-top: 15px;
}

.pay-btn:hover, .pay-btn:focus {
    transform: translateY(3px);
    cursor: pointer;
    background: #45a478;
}

.close {
  position: absolute;
  top: 10;
  right: 10;
  font-size: 25px;
  font-weight: bold;
  background: transparent;
  border: none;
}

.close:hover,
.close:focus {
  color: red;
  transform: translateY(3px);
  cursor: pointer;
}

/* Delivery Message after completed order ----------------*/

.delivery-status {
  text-align: center;
  width: 50%;
  padding: 10px 20px;
  background: #ecfdf5;
  margin: 0 auto;
  color: #065f46;
  font-size: 30px;
}
